#main_display {
  margin: 20px;
  padding: 5px;
}

#account_setup_controls .row {
  margin-top: 10px;
  margin-bottom: 10px;
}

#contact_info label {
  float:left;
  font-weight: bold;
}

#contact_info input {
  float:right;
}
